@keyframes heartbg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes valid {
  from {
    width: 0px;
  }
  to {
    width: 60px;
  }
}
@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes mooveinRight {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateX(-45px);
  }
}
/*Header*/
img#logoTaille {
  width: 172px;
}

.logoResto {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  margin-top: 11px;
  margin-bottom: 10px;
  align-items: center;
}

.logorestoTaille {
  width: 157px;
}

.Retour {
  position: absolute;
  left: 10px;
  top: 20px;
}

a#colorretour {
  color: black;
}

.titreFooter {
  padding-top: 13px;
  margin-left: 34px;
  margin-top: 0;
  font-size: 14px;
  font-family: Shrikhand;
  font-style: italic;
}

.fondFooter {
  background-color: #353535;
  color: #ffffff;
}

ul.PositionFooter {
  margin: 0;
}

.titreFooter {
  margin-right: 48px;
  margin-left: 16px;
  margin-top: 10px;
  font-size: 17px;
  font-family: Shrikhand;
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  .logorestoTaille {
    margin-right: 51px;
    width: 157px;
  }
  .imgResto {
    width: 100%;
    height: 28rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  ul.PositionFooter {
    display: flex;
    flex-direction: row-reverse;
    gap: 29px;
    padding-top: 16px;
  }
  .fondFooter {
    background-color: #353535;
    color: #ffffff;
    display: flex;
    flex-direction: row-reverse;
  }
}
body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mainContainer {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
}

.iconSpace {
  margin-right: 9px;
}

.ville {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #353535;
  position: relative;
  z-index: -1;
}

h1#reserve {
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

p#decouvrir {
  text-align: center;
  font-size: 14px;
}

.Reservation {
  width: 100%;
  height: 240px;
  text-align: center;
  background-color: #f6f6f6;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  font-family: auto;
}

.titreFonction {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  font-weight: 700;
  font-family: auto;
}

.categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encadrement {
  position: relative;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  width: 70%;
  font-size: 14px;
  margin-bottom: 16px;
  background: #f6f6f6;
}

.encadrement:hover i {
  color: #9356dc;
}

.num {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -12px;
  margin: auto;
  border-radius: 60px;
  background-color: #9356dc;
  color: white;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
}

.restaurant {
  background-color: #f6f6f6;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.encadrementResto {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 2px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  width: 100%;
  font-size: 14px;
  height: 197px;
  margin-bottom: 12px;
  background-color: #ffffff;
  margin-left: 1px;
}

.image {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 73%;
  width: 100%;
}

.titre {
  display: flex;
  margin: 0;
  margin-top: 4px;
  margin-left: 17px;
  color: black;
  font-family: auto;
  font-weight: bold;
}

.nouveau {
  content: "Nouveau";
  position: absolute;
  background-color: #99e2d0;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: 13px;
}

.text {
  display: flex;
  margin: 0;
  margin-top: 4px;
  font-weight: 300;
  font-size: 12px;
  margin-left: 18px;
  color: black;
}

#titreResto {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  padding-top: 15px;
}

.sectionRestaurant {
  padding: 17px 8% 0 8%;
  width: 84%;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
  color: #ffffff;
  margin-top: 7px;
}

.reservationBtn {
  width: 218px;
  background: linear-gradient(0deg, #9356dc, #FF79DA);
  border-radius: 25px;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reservationBtn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

span {
  font-weight: bold;
  font-family: auto;
}

.positionCardResto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coeur {
  position: absolute;
  right: -22px;
  top: 158px;
  color: black;
  font-size: 25px;
}

i.fa-solid.fa-heart.bg {
  opacity: 0;
  transition: all 500ms ease-in-out;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  background: -webkit- linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: 0px;
  top: 1px;
}

i.fa-solid.fa-heart.bg:hover {
  animation: heartbg;
  opacity: 1;
}

.loaderContainer {
  position: fixed;
  background: #ffffff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: disappear 200ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.point1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  opacity: 1;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}

.point2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  opacity: 1;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
  animation-delay: 0.05s;
}

.point3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  opacity: 1;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
  animation-delay: 0.1s;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    font-family: "roboto", sans-serif;
  }
  .positionCardResto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Reservation {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #f6f6f6;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    display: flex;
    justify-content: center;
  }
  .btn {
    width: 218px;
    background: linear-gradient(0deg, #9356dc, #FF79DA);
    border-radius: 25px;
    color: white;
    font-size: 16px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titreFonction {
    display: flex;
    justify-content: flex-start;
    font-weight: 700;
    font-size: 17px;
    font-family: auto;
  }
  .section-title {
    font-size: 24px;
    font-weight: 700;
    font-family: auto;
  }
  .section-cards {
    padding: 30px 12%;
  }
  .encadrement {
    position: relative;
    flex-grow: 1;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    margin-left: 3%;
    width: 8%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
  }
  .num {
    width: 24px;
    height: 20px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -12px;
    margin: auto;
    border-radius: 60px;
    background-color: #9356dc;
    color: white;
    text-align: center;
    padding-top: 4px;
    font-size: 14px;
  }
  .image {
    border-radius: 15px 15px 0 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 71%;
    width: 100%;
    margin-left: 0px;
  }
  #titreResto {
    margin-left: -55%;
  }
  .titre {
    display: flex;
    margin: 0;
    margin-top: 20px;
    margin-left: 17px;
    color: black;
  }
  .text {
    display: flex;
    margin: 0;
    margin-top: 6px;
    font-weight: 300;
    font-size: 12px;
    margin-left: 18px;
    color: black;
  }
  .encadrementResto {
    padding: 2px;
    width: 42%;
    height: 239px;
  }
  .sectionRestaurant {
    padding: 16px 0% 0 4%;
    width: 96%;
    background-color: #F6F6F6;
  }
  .restaurant {
    background-color: #f6f6f6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.Fonctionnement {
    padding: 0 1% 0 0%;
  }
  .categorie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  a#colorRestaurant {
    color: white;
  }
  .coeur {
    position: absolute;
    right: 15px;
    top: 196px;
    color: black;
    font-size: 25px;
  }
  .ville {
    width: 100%;
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
    color: #353535;
    position: relative;
    z-index: -1;
  }
  h1#reserve {
    font-size: 42px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }
  p#decouvrir {
    text-align: center;
    font-size: 18px;
    margin-top: -17px;
  }
}
@media screen and (min-width: 768px) {
  .sectionRestaurant {
    padding: 16px 4% 0 4%;
    width: 92%;
    background-color: #F6F6F6;
  }
}
@media screen and (min-width: 1440px) {
  .sectionRestaurant {
    padding: 17px 11% 0 17%;
    width: 72%;
    background-color: #F6F6F6;
  }
  section.Fonctionnement {
    padding: 0px 12% 0 14%;
  }
}
.carte {
  position: relative;
  top: -64px;
  border-radius: 50px 50px 0 0;
  margin-bottom: -60px;
  background-color: #f7f7f7;
  height: 100%;
}

.carteNote {
  position: relative;
  top: -64px;
  border-radius: 50px 50px 0 0;
  margin-bottom: -60px;
  background-color: #f7f7f7;
  height: 100%;
}

.imgResto {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.Titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titreCarte {
  font-size: 20px;
  padding-top: 23px;
  margin-right: 7px;
  font-family: Shrikhand;
}

.coeurResto {
  margin-top: 39px;
  font-size: 25px;
}

i.fa-solid.fa-heart.bg {
  opacity: 0;
  transition: all 500ms ease-in-out;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  background: -webkit- linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: -31px;
  top: 0px;
}

.encadrementRestaurant {
  position: relative;
  flex-grow: 1;
  border-radius: 11px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  margin-left: 19px;
  width: 76%;
  font-size: 14px;
  height: 8px;
  margin-bottom: 12px;
  background: #ffffff;
  text-align: start;
}

.titrePlat {
  margin: -7px;
  margin-bottom: 7px;
  margin-top: -11px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 75px;
  font-family: "Roboto";
}

.supPlat {
  margin: -7px;
  font-weight: 100;
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 81px;
  font-family: "Roboto";
}

.prix {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 12px;
}

h2.EPD {
  font-weight: 300;
  font-size: 16px;
  margin-left: 12px;
  border-bottom: 2px solid #99e2d0;
  width: 28px;
  font-family: "Roboto";
}

.positionButtonCommande {
  display: flex;
  justify-content: center;
}

button#CommandeBtn {
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
  font-size: 11px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #9356dc -14%, #ff79da 128%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  width: 74%;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
  cursor: pointer;
  width: 165px;
}

.validation {
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
  background-color: #99E2D0;
  border-radius: 0 10px 10px 0;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  right: 7px;
}

.encadrementRestaurant:hover .validation {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: valid 500ms;
  transform-origin: 100%;
  right: 0;
  animation-fill-mode: forwards;
}
.encadrementRestaurant:hover .prix {
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 12px;
  animation: mooveinRight 500ms;
  animation-fill-mode: forwards;
}

.positionPlat {
  animation-name: moveInleft;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.positionPlat2 {
  animation-name: moveInleft;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.positionPlat3 {
  animation-name: moveInleft;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    font-family: "roboto", sans-serif;
  }
  .coeurResto {
    margin-top: 45px;
    font-size: 25px;
  }
  i.fa-solid.fa-heart.bg {
    opacity: 0;
    transition: all 500ms ease-in-out;
    background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
    background: -webkit- linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    left: -31px;
    top: 0px;
  }
  .carte {
    position: relative;
    top: -64px;
    border-radius: 50px 50px 0 0;
    margin-bottom: -60px;
    background-color: #f7f7f7;
    height: 100%;
    margin-left: 250px;
    right: 236px;
    width: 91%;
    margin: 0 15% 0 24%;
  }
  .titreCarte {
    font-size: 24px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Shrikhand;
  }
  .Titre {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  h2.EPD {
    font-weight: 300;
    font-size: 16px;
    margin-left: 54px;
    border-bottom: 2px solid #99e2d0;
    width: 28px;
  }
  .encadrementRestaurant {
    position: relative;
    flex-grow: 1;
    border-radius: 11px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    margin-left: 72px;
    width: 76%;
    font-size: 14px;
    height: 8px;
    margin-bottom: 12px;
    background: #ffffff;
    text-align: start;
  }
  .positionPlat {
    display: flex;
    flex-direction: column;
    animation-name: moveInleft;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  .positionPlat2 {
    display: flex;
    flex-direction: column;
    animation-name: moveInleft;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  .positionPlat3 {
    display: flex;
    flex-direction: column;
    animation-name: moveInleft;
    animation-delay: 6s;
    animation-fill-mode: forwards;
  }
  button#CommandeBtn {
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    font-size: 11px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to top, #9356dc -14%, #ff79da 128%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 9%;
    height: 40px;
    margin: 10px;
    cursor: pointer;
    width: 165px;
  }
  button#CommandeBtn:hover {
    opacity: 0.8;
    box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .positionButtonCommande {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .carte {
    position: relative;
    top: -64px;
    border-radius: 50px 50px 0 0;
    margin-bottom: -60px;
    background-color: #f7f7f7;
    height: 100%;
  }
  .encadrementRestaurant {
    position: relative;
    flex-grow: 1;
    border-radius: 11px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    width: 76%;
    font-size: 14px;
    height: 8px;
    margin-bottom: 12px;
    background: #ffffff;
    text-align: start;
    margin-left: 74px;
  }
  button#CommandeBtn {
    font-weight: bold;
    color: #ffffff;
    font-size: 11px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to top, #9356dc -14%, #ff79da 128%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    width: 36%;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 19px;
    cursor: pointer;
    width: 165px;
  }
  h2.EPD {
    font-weight: 300;
    font-size: 16px;
    margin-left: 54px;
    border-bottom: 2px solid #99e2d0;
    width: 28px;
    font-family: "Roboto";
  }
}
@media screen and (min-width: 1440px) {
  .carte {
    position: relative;
    top: -64px;
    border-radius: 50px 50px 0 0;
    margin-bottom: -60px;
    background-color: #f7f7f7;
    height: 100%;
    margin-left: 250px;
    right: 100px;
    width: 87%;
    left: -154px;
  }
  .encadrementRestaurant {
    position: relative;
    flex-grow: 1;
    border-radius: 11px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 16px;
    margin-left: 14px;
    width: 45rem;
    font-size: 14px;
    height: 8px;
    margin-bottom: 12px;
    background: #ffffff;
    text-align: start;
  }
  .positionPlat {
    display: flex;
    align-items: center;
    align-content: center;
    opacity: 0;
  }
  .positionPlat2 {
    display: flex;
    align-items: center;
    align-content: center;
    opacity: 0;
  }
  .positionPlat3 {
    display: flex;
    align-items: center;
    align-content: center;
    opacity: 0;
  }
  h2.EPD {
    font-weight: 300;
    font-size: 16px;
    margin-left: -42px;
    border-bottom: 2px solid #99e2d0;
    width: 28px;
  }
}/*# sourceMappingURL=main.css.map */