body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

.mainContainer {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
}
.iconSpace {
  margin-right: 9px;
}

.ville {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  @include flex;
  gap: 17px;
  color: $darkgrey;
  position: relative;
  z-index: -1;

}
  h1#reserve {
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

p#decouvrir {
  text-align: center;
  font-size: 14px;
}
.Reservation {
  width: 100%;
  height: 240px;
  text-align: center;
  background-color:$lightgrey ;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-title {
  font-size: 24px;
  font-weight: 700;
  
}
.titreFonction {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  margin-left: -2px;
  
}
  h1.ReservationTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 6px;
}


.categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.encadrement {
  position: relative;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  width: 91%;
  font-size: 14px;
  margin-bottom: 16px;
  background: #f6f6f6;
}
.encadrement:hover {
  i{
  color: $purple;
}
}

.num {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -12px;
  margin: auto;
  border-radius: 60px;
  background-color: $purple;
  color: white;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
}

.restaurant {
  background-color: $lightgrey;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.encadrementResto {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 2px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  width: 100%;
  font-size: 14px;
  height: 197px;
  margin-bottom: 12px;
  background-color: #ffffff;
  margin-left: 1px;
}
  
.image {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 73%;
  width: 100%;
 
}
.titre {
  display: flex;
  margin: 0;
  margin-top: 4px;
  margin-left: 17px;
  color: black;
  font-family: auto;
  font-weight: bold;
}
.nouveau {
  content: "Nouveau";
  position: absolute;
  background-color: $green;
  font-size: 14px;
  padding: 6px 10px;
  color: #278870;
  border-radius: 2px;
  right: 17px;
  top: 13px;

}
.text {
  display: flex;
  margin: 0;
  margin-top: 4px;
  font-weight: 300;
  font-size: 12px;
  margin-left: 18px;
  color: black;
}
section.Fonctionnement {
  padding: 0px 15% 0 15%;
}

#titreResto {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
  padding-top: 15px;
}
.sectionRestaurant {
  padding: 17px 16% 0 15%;
  width: 69%;   
  background-color: $lightgrey;
}

a {
  text-decoration: none;
  color: $white;
}

li {
  list-style-type: none;
  color: $white;
  margin-top: 7px;
}

.reservationBtn {
  width: 218px;
  background: linear-gradient(0deg, #9356dc, #FF79DA);
  border-radius: 25px;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservationBtn:hover {
  opacity: 0.8;
  box-shadow: 0px 8px 27px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;;
}
span {
  font-weight: bold;
  font-family: auto;
}

.positionCardResto {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.coeur {
  position: absolute;
  right: -22px;
  top: 158px;
  color: black;
  font-size: 25px;
}
i.fa-solid.fa-heart.bg{
  opacity: 0;
  transition: all 500ms ease-in-out;
  background: linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  background: -webkit- linear-gradient(to top, #9356DC -14%, #FF79DA 128%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
    left: 0px;
    top: 1px;
}
i.fa-solid.fa-heart.bg:hover {
  animation: heartbg;
  opacity: 1;
}
.loaderContainer {
  position: fixed;
  background: $white;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  @include flex;
  z-index: 1;
  animation: disappear 200ms;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  max-width: 1440px;
}
.point1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  opacity: 1;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}
.point2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  opacity: 1;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
  animation-delay: 0.05s;
}
.point3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  opacity: 1;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
  animation-delay: 0.1s;
}

@media screen and (min-width: 1024px)  {
  
  .positionCardResto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1.ReservationTitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 6px;
}
.Reservation {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color:$lightgrey ;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  justify-content: center;
}
.btn {
  width: 218px;
  background: linear-gradient(0deg, #9356dc, #FF79DA);
  border-radius: 25px;
  color: white;
  font-size: 16px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titreFonction {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 17px;
  margin-left: 18px;
}
  
.section-title {
  font-size: 24px;
  font-weight: 700;
  
}
.section-cards {
  padding: 30px 12%;
}

.encadrement {
  position: relative;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 21px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  margin-left: 3%;
  width: 8%;
  font-size: 14px;
  @include flex;
  background: $lightgrey;
}
.num {
  width: 24px;
  height: 20px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -12px;
  margin: auto;
  border-radius: 60px;
  background-color: $purple;
  color: white;
  text-align: center;
  padding-top: 4px;
  font-size: 14px;
}
.image {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 71%;
  width: 100%;
  margin-left: 0px;
  
}

#titreResto {
  margin-left: -55%;
}

.titre {
  display: flex;
  margin: 0;
  margin-top: 20px;
  margin-left: 17px;
  color: black;
}
.text {
  display: flex;
  margin: 0;
  margin-top: 6px;
  font-weight: 300;
  font-size: 12px;
  margin-left: 18px;
  color: black;
}
.encadrementResto {
    padding: 2px;
    width: 42%;
    height: 239px;
  
}
.sectionRestaurant {
  padding: 16px 0% 0 4%;
  width: 96%;
  background-color: #F6F6F6;
}
.restaurant {
  background-color: $lightgrey;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.Fonctionnement {
  padding: 0px 12% 0 13%;
}

.categorie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a#colorRestaurant {
  color: white;
}
.coeur {
  position: absolute;
  right: 15px;
  top: 196px;
  color: black;
  font-size: 25px;
}
.ville {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  @include flex;
  gap: 17px;
  color: $darkgrey;
  position: relative;
  z-index: -1;

}
h1#reserve {
  font-size: 42px;
  text-align: center;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
p#decouvrir {
  text-align: center;
  font-size: 18px;
  margin-top: -17px;
}
}
@media screen and (min-width: 768px)  {
  .sectionRestaurant {
    padding: 17px 16% 0 15%;
    width: 69%;
    background-color: #F6F6F6;
}
}
@media screen and (min-width: 1440px)  {
.sectionRestaurant {
  padding: 17px 11% 0 17%;
  width: 69%;
  background-color: #F6F6F6;
}
section.Fonctionnement {
  padding: 0px 14% 0 16%;
}
}