$white: #ffffff;
$lightgrey: #f6f6f6;
$middlegrey: #eaeaea;
$darkgrey: #353535;

$purple: #9356dc;
$pink: #ff79da;
$green: #99e2d0;

$gradient-base: linear-gradient(to top, #9356dc -14%, #ff79da 128%);
$gradient-heart: linear-gradient(to bottom, #9356dc -14%, #ff79da 128%);
